*{
  font-family:arial black;
  color:white ;
}
.a1div{
  margin: auto;
  text-align: center;
}

.a2div{
  text-align: center;
}

a{
  color: white;
  font-size: 2em;
  text-decoration: none;
  
}

.a1:hover{
  color:rgb(243, 242, 242);
}

.a2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
}
.a2:hover{
  color:rgb(189, 189, 189);
}

/* .headdiv{
  color: aqua;
} */


